@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600|PT+Sans:400,700");

$nunito: "Nunito", sans-serif;
$ptsans: "PT Sans", sans-serif;
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;
