body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  font-family: "Poiret One", cursive;
}

#mainBox {
  background-color: #f9a346;
  padding: 1rem;
  padding-bottom: 2rem;
}

#hiddenText {
  font-size: 10px;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9a346;
}

#loginBox {
  padding: 2rem;
}

textarea {
  width: 100%;
}

#entryText {
  font-family: "Heebo", sans-serif;
  font-size: 12px;
}

.keywordButton {
  font-weight: bold;
  // text-shadow: 0px 0px 6px white;
}

.modal {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.progress {
  animation: progress 2s;
}

// .progress::-webkit-progress-value {
//   animation: progress 2s !important;
//   background-color: orange !important;
// }

.sentimentProgress {
  @extend .progress;
}

.sentimentProgress::-webkit-progress-value {
  // background: #fff linear-gradient(to right, white, black) !important;
  box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.4),
    0 2px 5px 0px rgba(0, 0, 0, 0.3) !important;
  animation: progress 2s !important;
  // animation-name: progress !important;
  // animation-duration: 2s !important;

  // animation-timing-function: ease;
}

@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@import "../node_modules/bulma/sass/utilities/initial-variables";
$tabs-toggle-link-hover-background-color: #fed156;
$tabs-link-color: #627586;
$body-background-color: #f9a346;
$tabs-toggle-link-border-color: #627586;
$danger: #f47f70;
$navbar-background-color: #f9a346;
$navbar-dropdown-background-color: #f9a346;
$family-sans-serif: "Poiret One", cursive;
$warning: #f7ed83;
$link: #084887;
$dark: #353129;
$success: #4a7c59;
$light: #f95738;
$column-gap: 0.5rem;

@import "../node_modules/bulma/bulma.sass";
