// @import "../node_modules/bulma/bulma.sass";
@import "../scss/partials/fonts.scss";
@import "../scss/partials/colors.scss";

@import "../scss/partials/login.scss";

body {
  font-family: $ptsans;
}

h1,
h2,
h3 {
  font-family: $nunito;
  text-transform: uppercase;
}

body {
  background-color: $orange;
}
